@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  width: 300px;
  height: 300px;
  background: rgb(32, 32, 41);
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: 'Onest', sans-serif;
}

.logo {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  margin-bottom: 20px;
}

.title {
  font-weight: 700;
  font-size: 20px;
  color: white;
}

header {
  display: flex;
  align-items: center;

  margin-bottom: 20px;
}

/* .flex {
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.uploader {
  visibility: hidden;
}

.uploadBtn {
  padding: 8px 12px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  background: #3e3e4e;
}

.slider-container {
  width: 120px; /* Container width */
  border-radius: 30px;
}

.range-slider {
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  border-radius: 30px;
  background: #3f3e4d; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (cross-browser) */
  -webkit-transition: .2s; /* Transition for hover effect */
  transition: opacity .2s;
}

.range-slider:hover {
  opacity: 1; /* Fully opaque on hover */
}

.range-slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  border-radius: 30px;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #5f95eb; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.range-slider::-moz-range-thumb {
  border-radius: 30px;
  width: 25px; /* Width of the handle */
  height: 25px; /* Height of the handle */
  background: #5f95eb; /* Green background */
  cursor: pointer; /* Cursor on hover */
}
